.header {
    padding-bottom: 31px;
    padding-top: 27px;
    padding-left: 27px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media screen and (min-width: 1024px) {
    .header {
        margin: 0 200px;
        padding: 45px 0 41px;
    }
}
